doctype html
html
  head
    title= "nUlam Visulaizer"
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='javascripts/script.js')

  body

block content
  h1#page-title nUlam Visulaizer
  div#form.container
    div.wrapper
      div.col-md-10
        input#input.form-control(value="^[468]9$|^[579]2$|^1[4]9|^1[5][012]|133|128")
      div.col-md-2
        select#method.form-control
          option(value=0)="RegEx"
          option(value=1)="Math"
          option(value=2)="Boolean"
          option(value=3)="OEIS"
  div.row
    div#verify-message
      span#message
  #squares.wrapper

