doctype html
html
  head
    title= "nUlam Visualizer"
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='javascripts/script.js')

  body

  .navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      a.navbar-brand(href="#") nUlam
    .navbar-form
      .col-md-1
        select#method.form-control
          option(value=0)="RegEx"
          option(value=1)="Math"
          option(value=2)="Boolean"
          option(value=3)="OEIS"
      .form-group.col-md-8
        input#input.form-control(value="^(11)[47]$|^(13)[58]$|^(15)[69]$|2[2][0-2]|219|197|202")
      .col-md-1
        select#blocksize.form-control
          //option(value="pixel")="Pixel"
          option(value="xsmall")="X Small"
          option(value="small")="Small"
          option(value="" selected="selected")="Default"
          option(value="medium")="Medium"
          option(value="large")="Large"
          option(value="xlarge")="X Large"
          option(value="spiral")="Spiral"
      .col-md-1
        #advanced.wrapper
          .wrapper.math
            select#math-target.form-control
              option(value=0)="Value"
              option(value=1)="Index"
              option(value=2)="Row"
              option(value=3)="Column"

block content

  div.row.wrapper
    div#verify-message
      span#message
    div.col-md-4
      label Display Numbers: 
      input#display-content(type='checkbox', checked=true)

  #squares.wrapper

